<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <title>Lợi ích thuê pin</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/Energy.css" rel="stylesheet" />
</head>
<body>
    <section class="benefit-section">
        <h2>Lợi ích của thuê pin</h2>
        <div class="benefit-boxes">
            <div class="box">
                <i class="bi bi-currency-dollar icon"></i>
                <p>Khách hàng không tốn tiền sửa chữa, bảo dưỡng Pin.</p>
            </div>
            <div class="box">
                <i class="bi bi-puzzle icon"></i>
                <p>Khách hàng sử dụng điều hòa, sưởi bằng điện với chi phí rẻ hơn chạy xăng.</p>
            </div>
            <div class="box">
                <i class="bi bi-fuel-pump icon"></i>
                <p>Nếu khách hàng di chuyển nhiều hàng tháng thì chi phí thuê pin theo gói cố định và tiền sạc điện sẽ rẻ hơn tiền xăng hàng tháng khi dùng xe xăng cùng hạng.</p>
            </div>
        </div>
        <div class="car-bg">
            <img src="~/images/pin.png" alt="VinFast Cars" />
        </div>
    </section>

    <section class="policy-section">
        <h2>Chính sách thuê pin</h2>
        <div class="policy-container">

            <div class="policy-left">
                <h3>Phí thuê pin hàng tháng</h3>
                <p>Chu kỳ tính cước: Từ ngày 26 của tháng trước đến ngày 25 của tháng hiện tại.</p>
                <p>Chi tiết cách lấy dữ liệu ODO để chốt cước thuê pin:</p>
                <ul>
                    <li>Thời điểm lấy dữ liệu ODO: 22h00 ngày 25 hàng tháng. Dữ liệu ODO ghi nhận sau thời điểm này sẽ được tính vào kỳ cước của tháng tiếp theo.</li>
                    <li>Trường hợp đặc biệt: Nếu xe không có kết nối, nằm trong vùng không có sóng,... thì dữ liệu ODO tại thời điểm cập nhật cuối cùng (ví dụ 20h00) sẽ được tính để chốt cước.</li>
                    <li>Lưu ý: Quý khách có thể kiểm tra thời gian chốt dữ liệu ODO chi tiết trong phần Hóa đơn thuê pin trên ứng dụng VinFast.</li>
                </ul>
                <p>Khách hàng có thể thuê pin trọn đời đến khi Khách hàng hết nhu cầu sử dụng xe. Trường hợp chuyển nhượng xe thì Khách hàng mới chỉ cần ký xác nhận tiếp tục thực hiện hợp đồng thuê pin.</p>
                <p>Giá thuê pin được cố định suốt vòng đời sản phẩm theo giá thuê tại thời điểm khách hàng nhận xe, không thay đổi theo chủ sở hữu.</p>

                <h3>Chính sách thuê pin từ 01/01/2025 cho các dòng xe Ô tô điện cho tới khi có thông báo mới</h3>
                <p>Lưu ý: Đối với mốc thuê pin 1.500 km/tháng, Khách hàng đang sử dụng gói thuê được chuyển sang gói mới mà không phải chi trả thêm phí chuyển đổi...</p>
            </div>

            <div class="policy-right">
                <h4>Thời hạn hợp đồng thuê pin & đặt cọc</h4>
                <ul>
                    <li>Thời hạn Hợp Đồng thuê pin là vô thời hạn đến khi Khách hàng hết nhu cầu hoặc hủy xe.</li>
                    <li>Khách hàng không phải đặt cọc thuê pin (áp dụng với HĐ trước 01.11.2023).</li>
                </ul>

                <h4>Phí chuyển đổi gói cước: <strong>4.120.000 VND/lần</strong> (đã bao gồm VAT)</h4>

                <h4>Phí trả chậm</h4>
                <p>Tỷ lệ phí thanh toán chậm là 10%/tháng, áp dụng cho phí thuê pin và đền bù pin hỏng nếu có.</p>

                <h4>Chế tài nếu Khách hàng nợ phí thuê pin</h4>
                <ul>
                    <li>VinFast sẽ chặn sạc nếu khách hàng nợ phí thuê pin quá 2 tháng hoặc pin dưới 70% SOC.</li>
                    <li>Khi khách hàng thanh toán xong, xe sẽ được mở khóa sạc bình thường.</li>
                </ul>

                <h4>Thay thế/sửa chữa/bảo dưỡng pin cho Khách hàng</h4>
                <ul>
                    <li>Pin cho thuê sẽ được thay thế/sửa chữa miễn phí trong các trường hợp đủ điều kiện.</li>
                </ul>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="section-title">Quy định sử dụng pin</div>
        <div class="content-box">
            <div class="content-image">
                <img src="~/images/quydinhpin.png" alt="Battery usage rules" />
            </div>
            <div class="content-text">
                <h3>Quy định chung</h3>
                <ul>
                    <li>Không tự ý tháo rời, sửa chữa hoặc thay thế các bộ phận, dây cáp hoặc đầu nối điện áp cao.</li>
                    <li>
                        Chỉ được sử dụng nguồn sạc theo khuyến cáo của nhà sản xuất được công bố trên Website
                        <a href="https://vinfastauto.com" target="_blank">https://vinfastauto.com</a>.
                    </li>
                    <li>Không sử dụng Pin làm nguồn điện để vận hành các thiết bị khác.</li>
                    <li>Không tự ý can thiệp hoặc cập nhật phần mềm trái phép mà không được sự cho phép của nhà sản xuất.</li>
                    <li>Không để Xe ở những nơi có thể ngập lụt, vì ngập lụt có thể làm hỏng Pin hoặc Xe.</li>
                    <li>Tránh để Xe tiếp xúc với nhiệt độ môi trường trên 55°C hoặc dưới -20°C quá 24 giờ tại một điểm. Không tuân theo khuyến nghị nhiệt độ này có thể làm giảm vĩnh viễn hiệu suất vận hành của Pin.</li>
                    <li>Nếu dung lượng Pin còn lại thấp hơn 5%, Pin cần được sạc ngay lập tức. Không thực hiện điều này có thể gây ra hỏng Pin vĩnh viễn và có thể dẫn đến trách nhiệm bồi thường thiệt hại của Khách Hàng.</li>
                    <li>Tuân thủ hướng dẫn sử dụng Xe và Pin của nhà sản xuất.</li>
                    <li>Thông báo ngay cho VinFast Trading khi phát hiện bất cứ lỗi, hỏng hóc, sự cố nào liên quan đến Pin và chịu trách nhiệm tự bảo quản Pin cho đến khi bàn giao lại Pin cho VinFast.</li>
                    <li>Nếu Xe gặp phải một tai nạn có khả năng ảnh hưởng đến Pin, Khách Hàng cần yêu cầu xưởng dịch vụ của VinFast Trading kiểm tra tổng quát hệ thống Pin.</li>
                </ul>
            </div>
        </div>
    </section>


    <div class="title">
        <h1>Các loại trụ sạc công cộng cho Ô tô điện</h1>
        <p>VinFast cung cấp đa dạng giải pháp sạc để đáp ứng nhu cầu sử dụng của Khách hàng một cách thuận tiện nhất.</p>
    </div>

    <div class="container">
        <div class="scroll-wrapper" id="scrollContainer">
            <div class="card">
                <img src="~/images/sac0.png" alt="Sạc 250kW">
                <h3>Trụ sạc ô tô - Sạc siêu nhanh DC 250kW</h3>
                <p>Kiểu dáng: Tủ đứng</p>
                <p>Điện áp hoạt động: 400VAC ±10%, 3 pha</p>
                <p>Điện áp đầu ra: 200-1000 VDC</p>
                <p>Công suất: 250 kW/cổng sạc</p>
                <p>Số lượng đầu ra: 1 cổng/trụ sạc</p>
                <p>Nhiệt độ hoạt động: -30°C đến 55°C</p>
                <p>Bảo vệ: Quá tải, nhiệt, ngắn mạch/IP54</p>
            </div>

            <div class="card">
                <img src="~/images/sac1.png" alt="Sạc 150kW">
                <h3>Trụ sạc ô tô - Sạc siêu nhanh DC 150kW</h3>
                <p>Kiểu dáng: Tủ đứng</p>
                <p>Điện áp hoạt động: 3 pha, 304 - 456 VAC</p>
                <p>Điện áp đầu ra: 200 - 1000 VDC</p>
                <p>Công suất: 150kW/cổng sạc</p>
                <p>Số lượng đầu ra: 2 cổng/trụ sạc</p>
                <p>Bảo vệ: Quá tải, nhiệt, ngắn mạch/IP54</p>
            </div>

            <div class="card">
                <img src="~/images/sac2.png" alt="Sạc 60kW">
                <h3>Trụ sạc ô tô - Sạc nhanh DC 60kW</h3>
                <p>Kiểu dáng: Tủ đứng</p>
                <p>Điện áp hoạt động: 3 pha, 304 - 456 VAC</p>
                <p>Điện áp đầu ra: 200-1000 VDC</p>
                <p>Công suất: 60 kW/cổng sạc</p>
                <p>Số lượng đầu ra: 2 cổng/trụ sạc</p>
                <p>Bảo vệ: Quá tải, nhiệt, ngắn mạch/IP54</p>
            </div>

            <div class="card">
                <img src="~/images/sac3.png" alt="Sạc 30kW">
                <h3>Trụ sạc ô tô - Sạc nhanh DC 30kW</h3>
                <p>Kiểu dáng: Treo tường & Tủ đứng</p>
                <p>Điện áp hoạt động: 3 pha, 304 - 456 VAC</p>
                <p>Công suất: 30 kW/cổng sạc</p>
                <p>Giao thức: CAN Protocol</p>
                <p>Số lượng đầu ra: 1 cổng/trụ sạc</p>
                <p>Bảo vệ: Quá tải, nhiệt, ngắn mạch/IP54</p>
            </div>

            <div class="card">
                <img src="~/images/sac4.png" alt="Sạc AC 11kW">
                <h3>Trụ sạc ô tô - Sạc thường AC 11kW</h3>
                <p>Kiểu dáng: Treo tường & Tủ đứng</p>
                <p>Điện áp hoạt động: 3 pha, 304 - 456 VAC</p>
                <p>Công suất: 11 kW/cổng sạc</p>
                <p>Giao thức: CAN Protocol</p>
                <p>Số lượng đầu ra: 1 cổng/trụ sạc</p>
                <p>Bảo vệ: Quá tải, nhiệt, ngắn mạch/IP54</p>
            </div>
        </div>
    </div>
    <script src="~/Content/JS/bootstrap.min.js"></script>
    <script>const slider = document.getElementById('scrollContainer');
        let isDown = false;
        let startX;
        let scrollLeft;

        slider.addEventListener('mousedown', (e) => {
            isDown = true;
            startX = e.pageX - slider.offsetLeft;
            scrollLeft = slider.scrollLeft;
            slider.style.cursor = 'grabbing';
            document.body.style.userSelect = 'none'; // Tắt chọn chữ
        });

        slider.addEventListener('mouseleave', () => {
            isDown = false;
            slider.style.cursor = 'grab';
            document.body.style.userSelect = ''; // Bật lại chọn chữ
        });

        slider.addEventListener('mouseup', () => {
            isDown = false;
            slider.style.cursor = 'grab';
            document.body.style.userSelect = '';
        });

        slider.addEventListener('mousemove', (e) => {
            if (!isDown) return;
            e.preventDefault();
            const x = e.pageX - slider.offsetLeft;
            const walk = (x - startX) * 2;
            slider.scrollLeft = scrollLeft - walk;
        });</script>

</body>
</html>
